* {
  box-sizing: border-box; }

body {
  background: #2a2a2a;
  font: 14px Helvetica, "Helvetica Neue", sans-serif; }

h4, h5 {
  font: 16px/1.5 "Slabo 13px", serif;
  margin: 0 0 10px;
  text-transform: uppercase; }

h5 {
  color: #9d401c; }

p {
  margin: 0 0 40px; }

a {
  color: #167ac6; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none;
  margin: 0 0 40px;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }
  dl dd {
    margin: 0; }

.date {
  color: #838383;
  font-size: 12px; }

.note {
  color: #838383; }

.App {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1050px;
  overflow: hidden; }

.sidebar {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 40px; }
  .sidebar h1 {
    font: 45px/0.75 "Slabo 27px", serif;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase; }
    .sidebar h1 small {
      font-size: 45px; }
  .sidebar h2, .sidebar h3 {
    color: #9d401c;
    font: 25px/0.75 "Slabo 27px", serif;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase; }
  .sidebar h2 {
    letter-spacing: 2.4px; }
  .sidebar h3 {
    letter-spacing: 1px;
    margin-bottom: 40px; }
  .sidebar ul {
    margin-bottom: 40px; }
    .sidebar ul li {
      margin-bottom: 10px; }
  .sidebar .photo {
    margin-bottom: 40px; }
    .sidebar .photo .dl-photo {
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      width: 200px; }
    .sidebar .photo .triangle-svg,
    .sidebar .photo .triangle-left-svg,
    .sidebar .photo .triangle-right-svg {
      display: none; }
  .sidebar .intro:after {
    content: "\27E2 \22EF \27E3";
    display: block;
    margin-bottom: 40px;
    text-align: center; }
  .sidebar .education {
    margin-bottom: 40px; }
    .sidebar .education:after {
      content: "\27E2 \22EF \27E3";
      display: block;
      margin-bottom: 40px;
      text-align: center; }
  .sidebar .languages:after {
    content: "\27E2 \22EF \27E3";
    display: block;
    margin-bottom: 40px;
    text-align: center; }
  .sidebar .contacts .phone:before {
    content: "\260E";
    margin-right: 10px; }
  .sidebar .contacts .email:before {
    content: "\2709";
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle; }
  .sidebar .contacts:after {
    content: "\27E2 \22EF \27E3";
    display: block;
    margin-bottom: 40px;
    text-align: center; }

.content {
  padding: 40px 40px 0; }
  .content h2 {
    font: 30px/0.75 "Slabo 27px", serif;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase; }
    .content h2:before {
      content: "\27E2 "; }
    .content h2:after {
      content: " \27E3"; }
  .content dl {
    position: relative; }
    .content dl:after {
      content: "\27E2 \22EF \27E3";
      display: block;
      margin-bottom: 40px;
      text-align: center; }
  .content ul li {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative; }
    .content ul li:before {
      color: #9d401c;
      content: "\27E3";
      left: 0;
      position: absolute; }

.footer {
  background-color: #2a2a2a;
  color: #fff;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-align: center; }
  .footer ul {
    margin-bottom: 0; }
    .footer ul .logo {
      display: inline-block;
      padding: 20px;
      width: 50%; }
      .footer ul .logo img {
        width: 50px; }

@media (min-width: 768px) {
  .sidebar {
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    width: 350px; }
    .sidebar h1 small {
      display: block;
      font-size: 30px;
      margin-top: 10px; }
    .sidebar .photo {
      margin-left: -40px;
      margin-right: -40px;
      position: relative; }
      .sidebar .photo img {
        display: block; }
        .sidebar .photo img.dl-photo {
          border-radius: 0;
          width: 100%; }
        .sidebar .photo img.triangle-svg, .sidebar .photo img.triangle-left-svg, .sidebar .photo img.triangle-right-svg {
          display: block;
          height: 40px;
          position: absolute;
          width: 100%; }
        .sidebar .photo img.triangle-left-svg, .sidebar .photo img.triangle-right-svg {
          bottom: 0; }
  .content {
    height: 1%;
    overflow: hidden; }
  .footer ul .logo {
    padding: 20px 40px;
    width: auto; } }

@media (min-width: 920px) {
  .content dl {
    overflow: hidden; }
    .content dl dt {
      float: left;
      padding-left: 1px;
      padding-right: 20px;
      width: 33.3%; }
    .content dl dd {
      height: 1%;
      overflow: hidden; } }
