* {
  box-sizing: border-box; }

body {
  background: #2a2a2a;
  font: 14px Helvetica, "Helvetica Neue", sans-serif; }

p {
  margin: 0 0 40px; }

ul {
  list-style: none;
  margin: 0 0 40px;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }
  dl dd {
    margin: 0; }

.App {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1050px;
  overflow: hidden; }

.sidebar {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 40px; }
  .sidebar h1 {
    font: 45px/0.75 "Slabo 27px", serif;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase; }
    .sidebar h1 small {
      font-size: 45px; }
  .sidebar h2, .sidebar h3 {
    color: #9d401c;
    font: 25px/0.75 "Slabo 27px", serif;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase; }
  .sidebar h2 {
    letter-spacing: 2.4px; }
  .sidebar h3 {
    letter-spacing: 1px;
    margin-bottom: 40px; }
  .sidebar .photo {
    margin-bottom: 40px; }
    .sidebar .photo .dl-photo {
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      width: 200px; }
    .sidebar .photo .triangle-svg {
      display: none; }

.content {
  padding: 40px; }
  .content h2 {
    font: 30px/0.75 "Slabo 27px", serif;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase; }
    .content h2:before {
      content: "\27E2 "; }
    .content h2:after {
      content: " \27E3"; }
  .content h4, .content h5 {
    font: 16px/1.5 "Slabo 13px", serif;
    margin: 0 0 10px;
    text-transform: uppercase; }
  .content h5 {
    color: #9d401c; }
  .content .date {
    color: #838383;
    font-size: 12px; }
  .content dl {
    position: relative; }
    .content dl:after {
      content: "\27E2 \22EF \27E3";
      display: block;
      margin-bottom: 40px;
      text-align: center; }
  .content ul li {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative; }
    .content ul li:before {
      color: #9d401c;
      content: "\27E3";
      left: 0;
      position: absolute; }

@media (min-width: 768px) {
  .sidebar {
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    width: 350px; }
    .sidebar h1 small {
      display: block;
      font-size: 30px;
      margin-top: 10px; }
    .sidebar .photo {
      margin-left: -40px;
      margin-right: -40px;
      position: relative; }
      .sidebar .photo img {
        display: block; }
        .sidebar .photo img.dl-photo {
          border-radius: 0;
          width: 100%; }
        .sidebar .photo img.triangle-svg {
          display: block;
          height: 40px;
          position: absolute;
          width: 100%; }
          .sidebar .photo img.triangle-svg polygon {
            fill: #f7f7f7; }
  .content {
    height: 1%;
    overflow: hidden; } }

@media (min-width: 920px) {
  .content dl {
    overflow: hidden; }
    .content dl dt {
      float: left;
      padding-right: 20px;
      width: 33.3%; }
    .content dl dd {
      height: 1%;
      overflow: hidden; } }
